---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Disable all hover effects on the page */
*:hover {
  filter: none !important;
  opacity: 1 !important;
  background: none !important;
  box-shadow: none !important;
  transform: none !important;
  transition: none !important;
}
